html, body {
  background-image: url("../images/pixelcloudpic.webp");
  height: fit-content;
  background-size: cover;
  background-position: center;
  margin: auto;
}

#onepiecepatternback {
  background-image: url("../images/oldwavepattern.webp");
  height: 110%;
  width: 120%;
  background-size: cover;
  background-position: center;
}

#demonslayerpatternback {
  background-image: url("../images/tanjiropatternpic.webp");
  height: 110%;
  background-size: cover;
  background-position: center;
}

#marginfixer {
  margin: auto;
}

h1 {
  text-align: center;
  color: white;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-weight: bolder;
  font-size: 2.2em;
}

h2 {
  font-weight: 900;
  text-decoration: none;
  color: rgb(87, 0, 201);
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-size: 1.3em;
  text-align: center;
}

p {
  font-family: Optima, sans-serif;
  color: black;
  text-align: center;
  font-weight: bold;
}

h3 {
  font-weight: bolder;
  color: rgb(87, 0, 201);
  font-family: Verdana, sans-serif;
}

.resumetitlebox {
  margin: auto;
  width: 20%;
  padding: 10px;
  border: 5px solid blue;
  border-color: rgb(87, 0, 201);
}

h4 {
  font-size: 1.1em;
  font-family: DejaVu Sans Mono, monospace;
  font-weight: bolder;
  text-decoration: none;
  color: red;
}

li {
  font-family: DejaVu Sans Mono, monospace;
}

#resumepic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid white;
  padding: 10px;
}
 
#trentresumediv {
  margin: auto;
  width: 30%;
  border: 4px solid white;
  border-radius: 12px;
  padding: 10px;
}

#onepiecehakidiv {
  margin: auto;
  width: 70%;
  border: 0px;
  border-radius: 12px;
  padding: 30px;
  text-align: center;
}

#squaredemonslayer {
  display: block;
  margin: auto;
  border: none;
  padding: 10px;
  width: 80%;
}

.demonslayertext {
  color: white;
}

#demonslayerbackboxcolor {
  background-color: #ffa1f6;
  margin: auto;
  width: 80%;
  border: 4px solid white;
  border-color: black;
  border-radius: 10px;
  padding: 10px;
}

.decorpicture {
  width: 500px;
  height: 300px;
  object-fit: cover;
  overflow: hidden;
}

.onepiecepicture {
  width: 30%;
  height: 30%;
  float: left;
}

.rightsideoppicture {
  width: 30%;
  height: 30%;
  float: right;
}

#hakivideo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid white;
  padding: 10px;
  width: 58%;
}

#horznavi {
  overflow: hidden;
}

.container {
  width: 960px;
  margin: 0 auto;
  overflow: hidden;
}

#horznavi-container {
  text-align: center;
}
    
#horznavi ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: top;
}

#horznavi ul li {
  float: left;
  margin: 0 15px;
}

#horznavi ul li a {
  display: block;
  background-color: #7a0dff;
  color: black;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  width: 100px;
  padding: 10px 0px 8px 0px;
  border-radius: 4px;
  font-size: 1.2em;
}

#horznavi ul li a:hover {
  background-color: black;
  color: yellow;
  border-radius: 20px;
}

#horznavi #onpage {
  text-decoration: underline;
}

#fixed-wrapper {
  width: 1000px;
  margin: 0 auto;
  outline: #ff7900 2px dashed;
}

#fixed-main {
  float: left;
  width: 650px;
  margin: 0 20px;
  outline: 2px dashed #0053ae;
}

#fixed-extras {
  float: left;
  width: 30%;
  margin: 0 1% 0 0;
  outline: 2px dashed #dd0009;
}

#fixed-header {
  background-color: #CCC;
  padding: 15px;
}
