html, body {
  background-image: url("../Images/pixelcloudpic.webp");
  height: fit-content;
  background-size: cover;
  background-position: center;
}

.decorpicture {
  width: 416px;
  height: 250px;
  object-fit: cover;
  overflow: hidden;
}

p {
  font-family: Optima, sans-serif;
  color: black;
  text-align: center;
  font-weight: bold;
}

h2 {
  font-weight: 900;
  text-decoration: none;
  color: rgb(87, 0, 201);
  text-align: center;
}

h3 {
  font-weight: bolder;
  color: rgb(87, 0, 201);
  border: 5px solid blue;
  border-color: rgb(87, 0, 201);
}

h4 {
  font-family: DejaVu Sans Mono, monospace;
  font-weight: bolder;
  text-decoration: none;
  color: red;
}

div {
  width: 300px;
  border: 10px solid blue;
  float: center;
}

nav#horznavi ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

nav#horznavi ul li {
  float: left;
  margin: 0 15px;
}

nav#horznavi ul li a {
  display: block;
  background-color: rgb(70, 28, 255);
  color: white;
  font-weight: bolder;
  text-decoration: none;
  text-align: center;
  width: 100px;
  padding: 10px 0px 8px 0px;
  border-radius: 4px;
  
}

nav#horznavi ul li a:hover {
  background-color: black;
  color: white;
  border-radius: 40px;
}
